@import "tailwindcss";

:root {
  --background-color: #181717;
}

@theme inline {
  --font-sans: var(--font-host-grotesk);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  background-color: var(--background-color);
  color: #f4efe7;
}
